{% extends 'base.html.twig' %}

{% block body %}

<div class="font-paintball center">
  <h2>Welcome!</h2>
  <p class="f18">Here you can find Splatoon players around the world lookin' for Squad Battle partners.</p>
  <p class="f18">To start, just
  <br>
  <br>
  <a href="{{ path('login') }}" class="btn btn-large light-green accent-4 waves-effect waves-light">Login</a>
  <br>
  or
  <br>
  <a href="{{ path('register') }}" class="btn btn-large orange accent-4 waves-effect waves-light">Register</a>
  </p>
</div>  

{% endblock %}

{% block stylesheets %}

{% endblock %}
