{% extends 'base.html.twig' %}

{% block body %}

<div class="font-paintball">
  <h2 class="center">Welcome!</h2>
  <p class="f18">Here you can find Splatoon players around the world lookin' for Squad Battle partners.</p>
  <p class="f18">To start, just <a href="{{ path('login') }}" class="btn green waves-effect waves-light">Login</a> or <a href="{{ path('register') }}" class="btn orange waves-effect waves-light">Register</a></p>
</div>  

{% endblock %}

{% block stylesheets %}

{% endblock %}
