{% extends 'base.html.twig' %}
{% block body %}

<p class="font-paintball center f18"><big>Current Squad Battles</big></p>

<div class="font-paintball" id="rooms-list">
  <div class="row">
    <div class="col s12 m6 l4">
      <div class="card purple darken-3">
        <div class="card-image">
          <img src="{{ asset('/assets/images/maps/arowana-mall.jpg') }}">
        </div>
        <div class="card-content white-text">
          <span class="card-title">
            Room title
            <span class="badge orange accent-3 white-text">7/8</span>
          </span>
          <br>
          <p class="f18">Mode: Splat Zones</p>
          <p class="f18">Map: Arowana Mall</p>
        </div>
        <div class="card-action">
          <a href="#" class="f18">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l4">
      <div class="card purple darken-3">
        <div class="card-image">
          <img src="{{ asset('/assets/images/maps/urchin-underpass.jpg') }}">
        </div>
        <div class="card-content white-text">
          <span class="card-title">
            Room title
            <span class="badge orange accent-3 white-text">3/8</span>
          </span>
          <br>
          <p class="f18">Mode: Rainmaker</p>
          <p class="f18">Map: Urchin Underpass</p>
        </div>
        <div class="card-action">
          <a href="#" class="f18">Enter</a>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l4">
      <div class="card purple darken-3">
        <div class="card-image">
          <img src="{{ asset('/assets/images/maps/kelp-dome.jpg') }}">
        </div>
        <div class="card-content white-text">
          <span class="card-title">
            Room title
            <span class="badge orange accent-3 white-text">1/8</span>
          </span>
          <br>
          <p class="f18">Mode: Tower Control</p>
          <p class="f18">Map: Kelp Dome</p>
        </div>
        <div class="card-action">
          <a href="#" class="f18">Enter</a>
        </div>
      </div>
    </div>
  </div>

  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red modal-trigger" href="#newroomform" title="New room">
      <i class="large material-icons">add</i>
    </a>
  </div>

  <div id="newroomform" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Create room</h4>
      <form>
        <div class="row">
          <div class="input-field col s12">
            <input id="title" type="text" class="validate" placeholder="Room name" required>
          </div>
      
          <div class="input-field col s12">
            <select>
              <option value="" selected>Game mode</option>
              <option value="1">Rainmaker</option>
              <option value="2">Splat Zones</option>
              <option value="3">Tower Control</option>
              <option value="4">Turf War</option>
            </select>
          </div>
          
          <div class="input-field col s12">
            <select>
              <option value="" selected>Map</option>
              <option value="1">Arowana Mall</option>
              <option value="2">Blackbelly Skatepark</option>
              <option value="3">Saltspray Rig</option>
              <option value="4">Urchin Underpass</option>
              <option value="5">Walleye Warehouse</option>
              <option value="6">Port Mackerel</option>
              <option value="7">Kelp Dome</option>
              <option value="8">Bluefin Depot</option>
              <option value="9">Moray Towers</option>
              <option value="10">Camp Triggerfish</option>
              <option value="11">Flounder Heights</option>
              <option value="12">Hammerhead Bridge</option>
            </select>
          </div>
        </div>
      
      </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
  </div>

</div>

{% endblock %}
{% block stylesheets %} {% endblock %}
